$bgColor1: rgb(245, 245, 245);
$bgColor2: rgb(224, 214, 214);
$btnBgColor: rgb(41, 89, 232);
$btnBgColor2: rgb(19, 18, 18);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px soid skyblue !important;
}

// header{
//     border: 4px solid pink;
// }

// body{
//     border: 1px solid red;
// }

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: $bgColor1;
    align-items: center;
    padding: 0 8%;
    border-bottom: 1px solid $bgColor2;
    // position: relative;


    .nav_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid black;

        .nav_items {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            padding: 0 15px;
            transition:all 0.3s ease-in-out;

            &:hover {
                color: blue;
            }
        }
        
        .search_box {
            display: flex;
            align-items: center;

            .search_btn {
                margin: 0 40px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

            .reg_btn {
                border: none;
                background-color: $btnBgColor;
                height: 40px;
                width: 160px;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 500px;
                color: white;
                cursor: pointer;
                display: block;
                transition:all 0.3s ease-in-out;

                &:hover {
                    color: $btnBgColor;
                    background-color: transparent;
                    border: 1px solid;
                }
            }
        }

        .hamburger_line {
            height: 5px;
            width: 25px;
            background-color: black;
            margin: 2px 5px;
            display: none;
        }
    }
}

.svg-logo {
    width: 200px;
    height: 100px;
}



main {
// max-width: 1500px;
// margin: 0 auto;
// border: 1px solid black;
    .main-div {

        .section-1 {
            display: flex;
            justify-content: space-around;
            // border: 1px solid red;
            margin-top: 100px;

            .section-1-beaut-div {
                // border: 1px solid blue;
                
                .prod-p {
                    font-size: 450%;

                    .free-span {
                        color: $btnBgColor;
                    }
                }

                .SVG-p {
                    font-size: 130%;
                }

                .section-1-btn {
                    display: flex;
                    justify-content: space-between;
                    
                    .free-btn {
                        border: none;
                        background-color: $btnBgColor;
                        height: 40px;
                        width: 150px;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500px;
                        color: white;
                        cursor: pointer;
                        display: block;
                        transition:all 0.3s ease-in-out;

                        &:hover {
                            color: $btnBgColor;
                            background-color: transparent;
                            border: 1px solid;
                        }

                    }

                    .premium-btn {
                        border: none;
                        background-color: transparent;
                        height: 40px;
                        width: 150px;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500px;
                        color: $btnBgColor;
                        cursor: pointer;
                        display: block;
                        transition:all 0.3s ease-in-out;
                        margin-right: 35%;
                        border: 1px solid;

                        &:hover {
                            color: white;
                            background-color: $btnBgColor;
                            
                        }

                    }
                }
            }

            .blog-svg-div {
                // border: 1px solid yellow;
                width: 29%;
                // height: -255%;

                .blog-svg {
                    // border: 1px solid green;
                    width: 200%;
                    height: 100%;
                    margin-left: -72%;
                }

            }
        }

        .section-2 {
            // border: 1px solid green;
            // background-color: purple;

            .section-2-div {
                // border: 2px solid black;
                display: flex;
                justify-content: space-between;
                background-color: rgb(54, 116, 231);
                border-radius: 5px;
                max-width: 83%;
                width: 100%;
                margin: 0 auto;
                align-items: center;
                // width:90%;
                // margin: 0 8%;
                

                .del-editable-div{
                    // border: 1px solid red;
                    margin-left: 5%;

                    .del-dollar-div {
                        display: flex;
                        // justify-content: space-between;
                        // align-items: c;

                        .deliv-div {

                            .deliv-p {
                                font-size: 350%;
                                color: white;
                            }

                            .serv-p {
                                font-size: 350%;
                                color: white;
                            }
                        }

                        .dollar-div {
                                
                            .stricken-dollar-p {
                                font-size: 250%;
                                // font-weight: px;
                                // text-decoration: line-trough;
                                color: rgb(54, 116, 231);
                                margin-top: 3%;
                                border: none;
                                border-radius: 50px;
                                // background-color: white;
                                height: 50%;
                                width: 120%;

                            } 
                                
                            .unstricken-dollar-p {
                                // font-size: 350%;
                                // text-decoration-style: wav;
                                color: black;
                                    
                            }
                                
                        }
                    }

                    .editable-browse-div {

                        .editable-p {
                            font-size: 150%;
                            color: white;
                        }

                        .browse-btn {
                            border: none;
                            background-color: white;
                            height: 40px;
                            width: 150px;
                            border-radius: 5px;
                            font-size: 1rem;
                            font-weight: 500px;
                            color: $btnBgColor;
                            cursor: pointer;
                            display: block;
                            transition:all 0.3s ease-in-out;
                            margin-right: 35%;
                            border: none;

                            &:hover {
                                color: white;
                                background-color: $btnBgColor2;
                                
                            }

                        }
                    }

                }

                .section-2-svg-div {
                    // border: 1px solid yellow;
                    // padding-top: 40%;
                    max-width: 40%;
                    max-height: 100%;

                    .svg-eatery {
                        // border: 1px solid pink;
                        width: 100%;
                        height: 100%;
                        // margin-left: 0%;
                        // height: 50%;
                        // width: 60%;
                    }

                }
            }
        }

        .section-3 {
            background-color: rgb(245, 245, 245);
            

            .section-3-div {
                // border: 1px solid green;
                max-width: 83%;
                margin-left: 8.5%;

                .free-ill-div {
                    display: flex;
                    justify-content: space-between;

                    .free-ill-p-div {
                        
                        .free-ill-p {

                        }

                    }

                    .search-input {

                        .section-3-search-svg {
                            cursor: pointer;
                        }

                    }

                    .color-div {
                        display: flex;
                        justify-content: space-around;

                        .prim-color {

                        }

                        .sec-color {

                        }
                    }

                }

                .many-svg-div {
                    // border: 1px solid black;
                    margin-left: -0.2%;
                    // display: flex;
                    // justify-content: space-around;
                    // flex-wrap: wrap;

                    .sec-3-svg-div {

                        .div-1 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;
                            

                            .sec-3-div-1 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;

                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }

                                .sec-3-svgs-1 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  
                                    
                                }
                            }
                            
                            
                        }

                        .div-2 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;

                            .sec-3-div-2 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;

                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }

                                .sec-3-svgs-2 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  
                                    
                                }
                            }
                        }

                        .div-3 {

                            .sec-3-svg-div-1 {

                                .sec-3-svgs-1 {
                                    border: 1px solid red;
                                    height: 80%;
                                    width: 10%;
                                }
                            }
                        }

                        .div-4 {

                            .sec-3-svg-div-1 {

                                .sec-3-svgs-1 {
                                    border: 1px solid red;
                                    height: 80%;
                                    width: 10%;
                                }
                            }
                        }

                        .div-5 {

                            .sec-3-svg-div-1 {

                                .sec-3-svgs-1 {
                                    border: 1px solid red;
                                    height: 80%;
                                    width: 10%;
                                }
                            }
                        }

                        .div-6 {

                            .sec-3-svg-div-1 {

                                .sec-3-svgs-1 {
                                    border: 1px solid red;
                                    height: 80%;
                                    width: 10%;
                                }
                            }
                        }
                        
                    }

                }

                .load-more-btn {
                    border: none;
                        background-color: $btnBgColor;
                        height: 40px;
                        width: 150px;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500px;
                        color: white;
                        cursor: pointer;
                        display: block;
                        transition:all 0.3s ease-in-out;
                        // justify-content: center;

                        &:hover {
                            color: $btnBgColor;
                            background-color: transparent;
                            border: 1px solid;
                        }

                }



            }
        }
    }
}


// @media screen and (max-width: 425px) {
//     .nav_items {
//         display: none;
//     }
    
//     header {
//         padding: 0 5%;
//     }

// }