* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: rgb(245, 245, 245);
  align-items: center;
  padding: 0 8%;
  border-bottom: 1px solid rgb(224, 214, 214);
}
header .nav_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav_box .nav_items {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}
header .nav_box .nav_items:hover {
  color: blue;
}
header .nav_box .search_box {
  display: flex;
  align-items: center;
}
header .nav_box .search_box .search_btn {
  margin: 0 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .nav_box .search_box .reg_btn {
  border: none;
  background-color: rgb(41, 89, 232);
  height: 40px;
  width: 160px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: white;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
}
header .nav_box .search_box .reg_btn:hover {
  color: rgb(41, 89, 232);
  background-color: transparent;
  border: 1px solid;
}
header .nav_box .hamburger_line {
  height: 5px;
  width: 25px;
  background-color: black;
  margin: 2px 5px;
  display: none;
}

.svg-logo {
  width: 200px;
  height: 100px;
}

main .main-div .section-1 {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
main .main-div .section-1 .section-1-beaut-div .prod-p {
  font-size: 450%;
}
main .main-div .section-1 .section-1-beaut-div .prod-p .free-span {
  color: rgb(41, 89, 232);
}
main .main-div .section-1 .section-1-beaut-div .SVG-p {
  font-size: 130%;
}
main .main-div .section-1 .section-1-beaut-div .section-1-btn {
  display: flex;
  justify-content: space-between;
}
main .main-div .section-1 .section-1-beaut-div .section-1-btn .free-btn {
  border: none;
  background-color: rgb(41, 89, 232);
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: white;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
}
main .main-div .section-1 .section-1-beaut-div .section-1-btn .free-btn:hover {
  color: rgb(41, 89, 232);
  background-color: transparent;
  border: 1px solid;
}
main .main-div .section-1 .section-1-beaut-div .section-1-btn .premium-btn {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: rgb(41, 89, 232);
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
  margin-right: 35%;
  border: 1px solid;
}
main .main-div .section-1 .section-1-beaut-div .section-1-btn .premium-btn:hover {
  color: white;
  background-color: rgb(41, 89, 232);
}
main .main-div .section-1 .blog-svg-div {
  width: 29%;
}
main .main-div .section-1 .blog-svg-div .blog-svg {
  width: 200%;
  height: 100%;
  margin-left: -72%;
}
main .main-div .section-2 .section-2-div {
  display: flex;
  justify-content: space-between;
  background-color: rgb(54, 116, 231);
  border-radius: 5px;
  max-width: 83%;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
main .main-div .section-2 .section-2-div .del-editable-div {
  margin-left: 5%;
}
main .main-div .section-2 .section-2-div .del-editable-div .del-dollar-div {
  display: flex;
}
main .main-div .section-2 .section-2-div .del-editable-div .del-dollar-div .deliv-div .deliv-p {
  font-size: 350%;
  color: white;
}
main .main-div .section-2 .section-2-div .del-editable-div .del-dollar-div .deliv-div .serv-p {
  font-size: 350%;
  color: white;
}
main .main-div .section-2 .section-2-div .del-editable-div .del-dollar-div .dollar-div .stricken-dollar-p {
  font-size: 250%;
  color: rgb(54, 116, 231);
  margin-top: 3%;
  border: none;
  border-radius: 50px;
  height: 50%;
  width: 120%;
}
main .main-div .section-2 .section-2-div .del-editable-div .del-dollar-div .dollar-div .unstricken-dollar-p {
  color: black;
}
main .main-div .section-2 .section-2-div .del-editable-div .editable-browse-div .editable-p {
  font-size: 150%;
  color: white;
}
main .main-div .section-2 .section-2-div .del-editable-div .editable-browse-div .browse-btn {
  border: none;
  background-color: white;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: rgb(41, 89, 232);
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
  margin-right: 35%;
  border: none;
}
main .main-div .section-2 .section-2-div .del-editable-div .editable-browse-div .browse-btn:hover {
  color: white;
  background-color: rgb(19, 18, 18);
}
main .main-div .section-2 .section-2-div .section-2-svg-div {
  max-width: 40%;
  max-height: 100%;
}
main .main-div .section-2 .section-2-div .section-2-svg-div .svg-eatery {
  width: 100%;
  height: 100%;
}
main .main-div .section-3 {
  background-color: rgb(245, 245, 245);
}
main .main-div .section-3 .section-3-div {
  max-width: 83%;
  margin-left: 8.5%;
}
main .main-div .section-3 .section-3-div .free-ill-div {
  display: flex;
  justify-content: space-between;
}
main .main-div .section-3 .section-3-div .free-ill-div .free-ill-p-div .free-ill-p {
  font-size: 150%;
  color: rgb(47, 47, 44);
}
main .main-div .section-3 .section-3-div .free-ill-div .free-ill-p-div .free-ill-p .free-ill-p-span {
  font-size: 70%;
  color: rgb(93, 93, 89);
}
main .main-div .section-3 .section-3-div .free-ill-div .search-input {
  font-size: 150%;
  color: rgb(47, 47, 44);
  position: relative;
}
main .main-div .section-3 .section-3-div .free-ill-div .search-input .input-text {
  height: 50%;
  width: 160%;
  padding-left: 15%;
  padding-right: 20%;
}
main .main-div .section-3 .section-3-div .free-ill-div .search-input .section-3-search-svg {
  cursor: pointer;
  position: absolute;
  left: 140%;
  top: 47%;
}
main .main-div .section-3 .section-3-div .free-ill-div .color-div {
  display: flex;
  justify-content: space-around;
}
main .main-div .section-3 .section-3-div .free-ill-div .color-div .prim-color {
  font-size: 150%;
  color: rgb(47, 47, 44);
  margin-right: 10%;
}
main .main-div .section-3 .section-3-div .free-ill-div .color-div .prim-color .input-prim-color {
  height: 50%;
  width: 100%;
}
main .main-div .section-3 .section-3-div .free-ill-div .color-div .sec-color {
  font-size: 150%;
  color: rgb(47, 47, 44);
  margin-right: 10%;
}
main .main-div .section-3 .section-3-div .free-ill-div .color-div .sec-color .input-sec-color {
  height: 50%;
  width: 100%;
}
main .main-div .section-3 .section-3-div .many-svg-div {
  margin-left: -0.2%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-1 .sec-3-div-1 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-1 .sec-3-div-1:hover {
  box-shadow: 1px 1px 14px 2px rgb(104, 99, 99);
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-1 .sec-3-div-1 .sec-3-svgs-1 {
  height: 100%;
  width: 95%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-1 .sec-3-div-1 .fig-1 {
  color: rgb(93, 93, 89);
  text-align: center;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-2 .sec-3-div-2 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-2 .sec-3-div-2:hover {
  box-shadow: 1px 1px 14px 2px rgb(104, 99, 99);
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-2 .sec-3-div-2 .sec-3-svgs-2 {
  height: 100%;
  width: 95%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-2 .sec-3-div-2 .fig-1 {
  color: rgb(93, 93, 89);
  text-align: center;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-3 .sec-3-div-3 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-3 .sec-3-div-3:hover {
  box-shadow: 1px 1px 14px 2px rgb(104, 99, 99);
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-3 .sec-3-div-3 .sec-3-svgs-3 {
  height: 100%;
  width: 95%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-3 .sec-3-div-3 .fig-1 {
  color: rgb(93, 93, 89);
  text-align: center;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-4 .sec-3-div-4 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-4 .sec-3-div-4:hover {
  box-shadow: 1px 1px 14px 2px rgb(104, 99, 99);
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-4 .sec-3-div-4 .sec-3-svgs-4 {
  height: 100%;
  width: 95%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-4 .sec-3-div-4 .fig-1 {
  color: rgb(93, 93, 89);
  text-align: center;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-5 .sec-3-div-5 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-5 .sec-3-div-5:hover {
  box-shadow: 1px 1px 14px 2px rgb(104, 99, 99);
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-5 .sec-3-div-5 .sec-3-svgs-5 {
  height: 100%;
  width: 95%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-5 .sec-3-div-5 .fig-1 {
  color: rgb(93, 93, 89);
  text-align: center;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-6 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-6 .sec-3-div-6 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-6 .sec-3-div-6:hover {
  box-shadow: 1px 1px 14px 2px rgb(104, 99, 99);
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-6 .sec-3-div-6 .sec-3-svgs-6 {
  height: 100%;
  width: 95%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-6 .sec-3-div-6 .fig-1 {
  color: rgb(93, 93, 89);
  text-align: center;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-7 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-7 .sec-3-div-7 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-7 .sec-3-div-7:hover {
  box-shadow: 1px 1px 14px 2px rgb(104, 99, 99);
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-7 .sec-3-div-7 .sec-3-svgs-7 {
  height: 100%;
  width: 95%;
}
main .main-div .section-3 .section-3-div .many-svg-div .sec-3-svg-div .div-7 .sec-3-div-7 .fig-1 {
  color: rgb(93, 93, 89);
  text-align: center;
}
main .main-div .section-3 .section-3-div .sec-3-load-btn {
  display: flex;
  justify-content: center;
}
main .main-div .section-3 .section-3-div .sec-3-load-btn .load-more-btn {
  border: none;
  background-color: rgb(41, 89, 232);
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: white;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
main .main-div .section-3 .section-3-div .sec-3-load-btn .load-more-btn:hover {
  color: rgb(41, 89, 232);
  background-color: transparent;
  border: 1px solid;
}
main .main-div .section-4 {
  background-color: rgb(245, 245, 245);
}
main .main-div .section-4 .section-4-div {
  max-width: 83%;
  margin-left: 8.5%;
}
main .main-div .section-4 .section-4-div .sec-4-ill .sec-4-h3 {
  font-size: 230%;
  color: rgb(47, 47, 44);
  text-align: center;
}
main .main-div .section-4 .section-4-div .sec-4-ill .sec-4-we-span {
  color: rgb(93, 93, 89);
  font-size: 50%;
  margin-top: 2%;
}
main .main-div .section-4 .section-4-div .many-svg-div {
  margin-left: -0.2%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-1 .sec-3-div-1 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-1 .sec-3-div-1:hover {
  box-shadow: 1px 1px 14px 2px rgb(104, 99, 99);
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-1 .sec-3-div-1 .sec-3-svgs-1 {
  height: 100%;
  width: 95%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-1 .sec-3-div-1 .fig-1 {
  color: rgb(93, 93, 89);
  text-align: center;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-2 .sec-3-div-2 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-2 .sec-3-div-2:hover {
  box-shadow: 1px 1px 14px 2px rgb(104, 99, 99);
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-2 .sec-3-div-2 .sec-3-svgs-2 {
  height: 100%;
  width: 95%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-2 .sec-3-div-2 .sec-3-svgs-2 .section-4-btn {
  background-color: rgb(207, 233, 252);
  border: none;
  color: blue;
  border-radius: 50px;
  height: -90%;
  width: 50%;
  font-size: 200%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-2 .sec-3-div-2 .fig-1 {
  color: rgb(93, 93, 89);
  text-align: center;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-3 .sec-3-div-3 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-3 .sec-3-div-3 .sec-3-svgs-3 {
  height: 100%;
  width: 95%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-3 .sec-3-div-3 .sec-3-svgs-3 .section-4-btn {
  background-color: rgb(207, 233, 252);
  border: none;
  color: blue;
  border-radius: 50px;
  height: 140%;
  width: 40%;
  font-size: 180%;
  font-weight: bolder;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-3 .sec-3-div-3 .sec-3-svgs-3 .sports {
  font-size: 130%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-3 .sec-3-div-3 .sec-3-svgs-3 .sports .sports-a {
  text-decoration: none;
  color: rgb(47, 47, 44);
  transition: all 0.1s ease-in;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-3 .sec-3-div-3 .sec-3-svgs-3 .sports .sports-a:hover {
  color: rgb(41, 89, 232);
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1.3%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-4 .sec-3-div-4 {
  max-width: 31%;
  min-height: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-4 .sec-3-div-4 .sec-3-svgs-4 {
  height: 100%;
  width: 95%;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-4 .sec-3-div-4 .sec-3-svgs-4 .section-4-btn {
  background-color: rgb(207, 233, 252);
  border: none;
  color: blue;
  border-radius: 50px;
  height: 140%;
  width: 40%;
  font-size: 180%;
  font-weight: bolder;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-4 .sec-3-div-4 .sec-3-svgs-4 .sports {
  font-size: 130%;
  color: yellow;
  text-decoration: none;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-4 .sec-3-div-4 .sec-3-svgs-4 .sports .sports-a {
  text-decoration: none;
  color: rgb(47, 47, 44);
  transition: all 0.1s ease-in;
}
main .main-div .section-4 .section-4-div .many-svg-div .sec-3-svg-div .div-4 .sec-3-div-4 .sec-3-svgs-4 .sports .sports-a:hover {
  color: rgb(41, 89, 232);
}
main .main-div .section-4 .section-4-div .sec-4-see-btn {
  display: flex;
  justify-content: center;
}
main .main-div .section-4 .section-4-div .sec-4-see-btn .see-more-btn {
  border: none;
  background-color: rgb(41, 89, 232);
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: white;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
main .main-div .section-4 .section-4-div .sec-4-see-btn .see-more-btn:hover {
  color: rgb(41, 89, 232);
  background-color: transparent;
  border: 1px solid;
}
main .main-div .section-5 .section-5-div {
  text-align: center;
  border-radius: 40px;
  position: relative;
  width: 83%;
  margin: 0 auto;
  background-color: rgb(239, 244, 248);
  justify-content: space-between;
}
main .main-div .section-5 .section-5-div .sect-5-div-1 {
  position: absolute;
  top: 50%;
  left: 2%;
}
main .main-div .section-5 .section-5-div .sect-5-div-2 .sect-5-h3 {
  font-size: 400%;
  color: rgb(47, 47, 44);
}
main .main-div .section-5 .section-5-div .sect-5-div-2 .sect-5-p {
  font-size: 150%;
  color: rgb(47, 47, 44);
}
main .main-div .section-5 .section-5-div .sect-5-div-2 .sect-5-enc {
  border: none;
  background-color: rgb(19, 18, 18);
  height: 40px;
  width: 160px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .main-div .section-5 .section-5-div .sect-5-div-2 .sect-5-enc:hover {
  color: rgb(19, 18, 18);
  background-color: transparent;
  border: 1px solid;
}
main .main-div .section-5 .section-5-div .sect-5-div-3 {
  position: absolute;
  top: 5%;
  left: 85%;
}
main .main-div .section-6 .section-6-main {
  background-color: skyblue;
  border: 1px solid black;
}
main .main-div .section-6 .section-6-main .section-6-div .sect-6-flex .mega-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 9%;
  border: 1px solid blue;
}
main .main-div .section-6 .section-6-main .section-6-div .sect-6-flex .mega-social .social {
  border: 1px solid black;
  width: 12%;
}
main .main-div .section-6 .section-6-main .section-6-div .sect-6-flex .mega-social .social .insta {
  border: 1px solid black;
}
main .main-div .section-6 .section-6-main .section-6-div .sect-6-flex .mega-social .social .pinterest {
  border: 1px solid black;
  margin-left: 20%;
}
main .main-div .section-6 .section-6-main .section-6-div .sect-6-flex .mega-social .social .twitter {
  border: 1px solid black;
  margin-left: 20%;
}/*# sourceMappingURL=styles.css.map */