* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: rgb(245, 245, 245);
  align-items: center;
  padding: 0 10%;
  border-bottom: 1px solid rgb(224, 214, 214);
}
header .nav_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav_box .nav_items {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}
header .nav_box .nav_items:hover {
  color: blue;
}
header .nav_box .search_box {
  display: flex;
  align-items: center;
}
header .nav_box .search_box .search_btn {
  margin: 0 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .nav_box .search_box .reg_btn {
  border: none;
  background-color: rgb(41, 89, 232);
  height: 40px;
  width: 160px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: white;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
}
header .nav_box .search_box .reg_btn:hover {
  color: rgb(41, 89, 232);
  background-color: transparent;
  border: 1px solid;
}
header .nav_box .hamburger_line {
  height: 5px;
  width: 25px;
  background-color: black;
  margin: 2px 5px;
  display: none;
}

.svg-logo {
  width: 200px;
  height: 100px;
}

main .main-div .section-1 {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
  margin-top: 100px;
}
main .main-div .section-1 .section-1-beaut-div {
  border: 1px solid blue;
}
main .main-div .section-1 .section-1-beaut-div .prod-p {
  font-size: 450%;
}
main .main-div .section-1 .section-1-beaut-div .prod-p .free-span {
  color: rgb(41, 89, 232);
}
main .main-div .section-1 .section-1-beaut-div .SVG-p {
  font-size: 130%;
}
main .main-div .section-1 .section-1-beaut-div .section-1-btn {
  display: flex;
  justify-content: space-between;
}
main .main-div .section-1 .section-1-beaut-div .section-1-btn .free-btn {
  border: none;
  background-color: rgb(41, 89, 232);
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: white;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
}
main .main-div .section-1 .section-1-beaut-div .section-1-btn .free-btn:hover {
  color: rgb(41, 89, 232);
  background-color: transparent;
  border: 1px solid;
}
main .main-div .section-1 .section-1-beaut-div .section-1-btn .premium-btn {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: rgb(41, 89, 232);
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
  margin-right: 35%;
  border: 1px solid;
}
main .main-div .section-1 .section-1-beaut-div .section-1-btn .premium-btn:hover {
  color: white;
  background-color: rgb(41, 89, 232);
}
main .main-div .section-1 .blog-svg-div {
  width: 29%;
}
main .main-div .section-1 .blog-svg-div .blog-svg {
  width: 200%;
  height: 100%;
  margin-left: -70%;
}
main .main-div .section-2 {
  border: 1px solid green;
  background-color: purple;
}
main .main-div .section-2 .section-2-div {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  background-color: rgb(54, 116, 231);
  border-radius: 5px;
  max-width: 83%;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
main .main-div .section-2 .section-2-div .del-editable-div {
  border: 1px solid red;
}
main .main-div .section-2 .section-2-div .del-editable-div .del-dollar-div {
  display: flex;
  align-items: c;
}
main .main-div .section-2 .section-2-div .del-editable-div .del-dollar-div .deliv-div .deliv-p {
  font-size: 350%;
  color: white;
}
main .main-div .section-2 .section-2-div .del-editable-div .del-dollar-div .dollar-div .stricken-dollar-p {
  font-size: 350%;
  text-decoration: line-through;
  color: rgb(10, 10, 97);
  margin-top: 0%;
}
main .main-div .section-2 .section-2-div .del-editable-div .del-dollar-div .dollar-div .unstricken-dollar-span .unstricken-dollar-p {
  font-size: 350%;
}
main .main-div .section-2 .section-2-div .del-editable-div .editable-browse-div .editable-p {
  font-size: 150%;
  color: white;
}
main .main-div .section-2 .section-2-div .del-editable-div .editable-browse-div .browse-btn {
  border: none;
  background-color: white;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500px;
  color: rgb(41, 89, 232);
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
  margin-right: 35%;
  border: none;
}
main .main-div .section-2 .section-2-div .del-editable-div .editable-browse-div .browse-btn:hover {
  color: white;
  background-color: rgb(19, 18, 18);
}
main .main-div .section-2 .section-2-div .section-2-svg-div {
  border: 1px solid yellow;
  max-width: 40%;
  max-height: 100%;
}
main .main-div .section-2 .section-2-div .section-2-svg-div .svg-eatery {
  border: 1px solid pink;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */