$bgColor1: rgb(245, 245, 245);
$bgColor2: rgb(224, 214, 214);
$btnBgColor: rgb(41, 89, 232);
$btnBgColor2: rgb(19, 18, 18);
$pColor1: rgb(93, 93, 89);
$pColor2: rgb(47, 47, 44);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px soid skyblue !important;
}

// header{
//     border: 4px solid pink;
// }

// body{
//     border: 1px solid red;
// }

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: $bgColor1;
    align-items: center;
    padding: 0 8%;
    border-bottom: 1px solid $bgColor2;
    // position: relative;


    .nav_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid black;

        .nav_items {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            padding: 0 15px;
            transition:all 0.3s ease-in-out;

            &:hover {
                color: blue;
            }
        }
        
        .search_box {
            display: flex;
            align-items: center;

            .search_btn {
                margin: 0 40px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

            .reg_btn {
                border: none;
                background-color: $btnBgColor;
                height: 40px;
                width: 160px;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 500px;
                color: white;
                cursor: pointer;
                display: block;
                transition:all 0.3s ease-in-out;

                &:hover {
                    color: $btnBgColor;
                    background-color: transparent;
                    border: 1px solid;
                }
            }
        }

        .hamburger_line {
            height: 5px;
            width: 25px;
            background-color: black;
            margin: 2px 5px;
            display: none;
        }
    }
}

.svg-logo {
    width: 200px;
    height: 100px;
}



main {
// max-width: 1500px;
// margin: 0 auto;
// border: 1px solid black;
    .main-div {

        .section-1 {
            display: flex;
            justify-content: space-around;
            // border: 1px solid red;
            margin-top: 100px;

            .section-1-beaut-div {
                // border: 1px solid blue;
                
                .prod-p {
                    font-size: 450%;

                    .free-span {
                        color: $btnBgColor;
                    }
                }

                .SVG-p {
                    font-size: 130%;
                }

                .section-1-btn {
                    display: flex;
                    justify-content: space-between;
                    
                    .free-btn {
                        border: none;
                        background-color: $btnBgColor;
                        height: 40px;
                        width: 150px;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500px;
                        color: white;
                        cursor: pointer;
                        display: block;
                        transition:all 0.3s ease-in-out;

                        &:hover {
                            color: $btnBgColor;
                            background-color: transparent;
                            border: 1px solid;
                        }

                    }

                    .premium-btn {
                        border: none;
                        background-color: transparent;
                        height: 40px;
                        width: 150px;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500px;
                        color: $btnBgColor;
                        cursor: pointer;
                        display: block;
                        transition:all 0.3s ease-in-out;
                        margin-right: 35%;
                        border: 1px solid;

                        &:hover {
                            color: white;
                            background-color: $btnBgColor;
                            
                        }

                    }
                }
            }

            .blog-svg-div {
                // border: 1px solid yellow;
                width: 29%;
                // height: -255%;

                .blog-svg {
                    // border: 1px solid green;
                    width: 200%;
                    height: 100%;
                    margin-left: -72%;
                }

            }
        }

        .section-2 {
            // border: 1px solid green;
            // background-color: purple;

            .section-2-div {
                // border: 2px solid black;
                display: flex;
                justify-content: space-between;
                background-color: rgb(54, 116, 231);
                border-radius: 5px;
                max-width: 83%;
                width: 100%;
                margin: 0 auto;
                align-items: center;
                // width:90%;
                // margin: 0 8%;
                

                .del-editable-div{
                    // border: 1px solid red;
                    margin-left: 5%;

                    .del-dollar-div {
                        display: flex;
                        // justify-content: space-between;
                        // align-items: c;

                        .deliv-div {

                            .deliv-p {
                                font-size: 350%;
                                color: white;
                            }

                            .serv-p {
                                font-size: 350%;
                                color: white;
                            }
                        }

                        .dollar-div {
                                
                            .stricken-dollar-p {
                                font-size: 250%;
                                // font-weight: px;
                                // text-decoration: line-trough;
                                color: rgb(54, 116, 231);
                                margin-top: 3%;
                                border: none;
                                border-radius: 50px;
                                // background-color: white;
                                height: 50%;
                                width: 120%;

                            } 
                                
                            .unstricken-dollar-p {
                                // font-size: 350%;
                                // text-decoration-style: wav;
                                color: black;
                                    
                            }
                                
                        }
                    }

                    .editable-browse-div {

                        .editable-p {
                            font-size: 150%;
                            color: white;
                        }

                        .browse-btn {
                            border: none;
                            background-color: white;
                            height: 40px;
                            width: 150px;
                            border-radius: 5px;
                            font-size: 1rem;
                            font-weight: 500px;
                            color: $btnBgColor;
                            cursor: pointer;
                            display: block;
                            transition:all 0.3s ease-in-out;
                            margin-right: 35%;
                            border: none;

                            &:hover {
                                color: white;
                                background-color: $btnBgColor2;
                                
                            }

                        }
                    }

                }

                .section-2-svg-div {
                    // border: 1px solid yellow;
                    // padding-top: 40%;
                    max-width: 40%;
                    max-height: 100%;

                    .svg-eatery {
                        // border: 1px solid pink;
                        width: 100%;
                        height: 100%;
                        // margin-left: 0%;
                        // height: 50%;
                        // width: 60%;
                    }

                }
            }
        }

        .section-3 {
            background-color: rgb(245, 245, 245);
            

            .section-3-div {
                // border: 1px solid green;
                max-width: 83%;
                margin-left: 8.5%;

                .free-ill-div {
                    display: flex;
                    justify-content: space-between;

                    .free-ill-p-div {
                        
                        .free-ill-p {
                            font-size: 150%;
                            color: $pColor2;

                            .free-ill-p-span {
                                font-size: 70%;
                                color: $pColor1;
                            }

                        }

                    }

                    .search-input {
                        font-size: 150%;
                        color: $pColor2;
                        position: relative;
                        

                        .input-text {
                            height: 50%;
                            width: 160%;
                            // border: 1px solid red;
                            padding-left: 15%;
                            padding-right: 20%;
                            // border-radius: 5px;
                        }

                        .section-3-search-svg {
                            cursor: pointer;
                            position: absolute;
                            left: 140%;
                            top: 47%;
                        }

                    }

                    .color-div {
                        display: flex;
                        justify-content: space-around;

                        .prim-color {
                            font-size: 150%;
                            color: $pColor2;
                            margin-right: 10%;

                            .input-prim-color {
                                height: 50%;
                                width: 100%;

                            }
                        }

                        .sec-color {
                            font-size: 150%;
                            color: $pColor2;
                            margin-right: 10%;

                            .input-sec-color {
                                height: 50%;
                                width: 100%;
                            }

                        }
                    }

                }

                .many-svg-div {
                    // border: 1px solid black;
                    margin-left: -0.2%;
                    // display: flex;
                    // justify-content: space-around;
                    // flex-wrap: wrap;

                    .sec-3-svg-div {

                        .div-1 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;
                            

                            .sec-3-div-1 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;

                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }

                                .sec-3-svgs-1 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;   
                                }

                                .fig-1 {
                                    color: rgb(93, 93, 89);
                                    // background-color: black;
                                    text-align: center;
                                }
                            }
                            
                            
                        }

                        .div-2 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;

                            .sec-3-div-2 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;

                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }

                                .sec-3-svgs-2 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  
                                    
                                }

                                .fig-1 {
                                    color: rgb(93, 93, 89);
                                    // background-color: black;
                                    text-align: center;
                                }
                            }
                        }

                        .div-3 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;

                            .sec-3-div-3 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;

                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }

                                .sec-3-svgs-3 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  
                                    
                                }

                                .fig-1 {
                                    color: rgb(93, 93, 89);
                                    // background-color: black;
                                    text-align: center;
                                }
                            }
                        }

                        .div-4 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;

                            .sec-3-div-4 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;

                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }

                                .sec-3-svgs-4 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  
                                    
                                }

                                .fig-1 {
                                    color: rgb(93, 93, 89);
                                    // background-color: black;
                                    text-align: center;
                                }
                            }
                        }

                        .div-5 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;

                            .sec-3-div-5 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;

                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }

                                .sec-3-svgs-5 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  
                                    
                                }

                                .fig-1 {
                                    color: rgb(93, 93, 89);
                                    // background-color: black;
                                    text-align: center;
                                }
                            }
                        }

                        .div-6 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;

                            .sec-3-div-6 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;

                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }

                                .sec-3-svgs-6 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  
                                    
                                }

                                .fig-1 {
                                    color: rgb(93, 93, 89);
                                    // background-color: black;
                                    text-align: center;
                                }
                            }
                        }

                        .div-7 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;

                            .sec-3-div-7 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;

                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }

                                .sec-3-svgs-7 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  
                                    
                                }

                                .fig-1 {
                                    color: rgb(93, 93, 89);
                                    // background-color: black;
                                    text-align: center;
                                }
                            }
                        }
                        
                    }

                }

                .sec-3-load-btn {
                    display: flex;
                    justify-content: center;

                    .load-more-btn {
                        border: none;
                        background-color: $btnBgColor;
                        height: 40px;
                        width: 150px;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500px;
                        color: white;
                        cursor: pointer;
                        display: block;
                        transition:all 0.3s ease-in-out;
                        text-align: center;
                        // justify-self: center;
                        // justify-content: center;
    
                        &:hover {
                            color: $btnBgColor;
                            background-color: transparent;
                            border: 1px solid;
                        }
    
                    }
    

                }

            }
        }

        .section-4 {
            background-color: rgb(245, 245, 245);
                
            .section-4-div {
                // border: 1px solid green;
                max-width: 83%;
                margin-left: 8.5%;

                .sec-4-ill {
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    

                    .sec-4-h3 {
                        font-size: 230%;
                        color: $pColor2;
                        text-align: center;
                    }

                    .sec-4-we-span {
                        color: $pColor1;
                        font-size: 50%;
                        margin-top: 2%;
                    }

                }

                .many-svg-div {
                    // border: 1px solid black;
                    margin-left: -0.2%;
                    // display: flex;
                    // justify-content: space-around;
                    // flex-wrap: wrap;
    
                    .sec-3-svg-div {
    
                        .div-1 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;
                            
    
                            .sec-3-div-1 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;
    
                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }
    
                                .sec-3-svgs-1 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;   
                                }
    
                                .fig-1 {
                                    color: rgb(93, 93, 89);
                                    // background-color: black;
                                    text-align: center;
                                }
                            }
                            
                            
                        }
    
                        .div-2 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;
    
                            .sec-3-div-2 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;
    
                                &:hover {
                                    // border-radius: 20px;
                                    // box-shadow: 4px 4px 4px 4px red ;
                                    box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                }
    
                                .sec-3-svgs-2 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  

                                    .section-4-btn {
                                        background-color: rgb(207, 233, 252);
                                        border:none;
                                        color: blue;
                                        border-radius: 50px;
                                        height: -90%;
                                        width: 50%;
                                        font-size: 200%;
                                    }
                                    
                                }
    
                                .fig-1 {
                                    color: rgb(93, 93, 89);
                                    // background-color: black;
                                    text-align: center;
                                }
                            }
                        }
    
                        .div-3 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;
    
                            .sec-3-div-3 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                // background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;
    
                                // &:hover {
                                //     // border-radius: 20px;
                                //     // box-shadow: 4px 4px 4px 4px red ;
                                //     box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                // }
    
                                .sec-3-svgs-3 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  

                                    .section-4-btn {
                                        background-color: rgb(207, 233, 252);
                                        border:none;
                                        color: blue;
                                        border-radius: 50px;
                                        height: 140%;
                                        width: 40%;
                                        font-size: 180%;
                                        font-weight: bolder;
                                    }

                                    .sports {
                                        font-size: 130%;
                                        // background-color: yellow;

                                        .sports-a {
                                            text-decoration: none;
                                            color: $pColor2;
                                            transition: all 0.1s ease-in;
                                            // background-color: green;

                                            &:hover {
                                                color: $btnBgColor;
                                            }
                                        }
                                    }
                                    
                                }
    
                                // .fig-1 {
                                //     color: rgb(93, 93, 89);
                                //     // background-color: black;
                                //     text-align: center;
                                // }
                            }
                        }
    
                        .div-4 {
                            display: flex;
                            justify-content: space-around;
                            // border: 1px solid blue;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 0 -1.3%;
    
                            .sec-3-div-4 {
                                // border: 2px solid purple;
                                max-width: 31%;
                                min-height: 100%;
                                min-width: 300px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                // background-color: white;
                                border-radius: 5px;
                                transition: all 0.3s;
                                
                                // margin: 0 1px ;
                                // flex-wrap: wrap;
    
                                // &:hover {
                                //     // border-radius: 20px;
                                //     // box-shadow: 4px 4px 4px 4px red ;
                                //     box-shadow: 1px 1px 14px 2px rgb(104, 99, 99) ;
                                // }
    
                                .sec-3-svgs-4 {
                                    // border: 1px solid red;
                                    height: 100%;
                                    width: 95%;  

                                    .section-4-btn {
                                        background-color: rgb(207, 233, 252);
                                        border:none;
                                        color: blue;
                                        border-radius: 50px;
                                        height: 140%;
                                        width: 40%;
                                        font-size: 180%;
                                        font-weight: bolder;
                                    }

                                    .sports {
                                        font-size: 130%;
                                        color: yellow;
                                        text-decoration: none;
                                        // background-color: yellow;

                                        .sports-a {
                                            text-decoration: none;
                                            color: $pColor2;
                                            transition: all 0.1s ease-in;
                                            // background-color: green;

                                            &:hover {
                                                color: $btnBgColor;
                                            }
                                        }

                                    }
                                    
                                }
    
                                // .fig-1 {
                                //     color: rgb(93, 93, 89);
                                //     // background-color: black;
                                //     text-align: center;
                                // }
                            }
                        }
                        
                    }
                }

                .sec-4-see-btn {
                    display: flex;
                    justify-content: center;

                    .see-more-btn {
                        border: none;
                        background-color: $btnBgColor;
                        height: 40px;
                        width: 150px;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500px;
                        color: white;
                        cursor: pointer;
                        display: block;
                        transition:all 0.3s ease-in-out;
                        text-align: center;
                        // justify-self: center;
                        // justify-content: center;
    
                        &:hover {
                            color: $btnBgColor;
                            background-color: transparent;
                            border: 1px solid;
                        }
    
                    }
                }
            }

                 
        }

        .section-5 {
            // background-color: rgb(54, 116, 231);
            // border-radius: 5px;
            // max-width: 83%;
            // width: 100%;
            // margin: 0 auto;
            // align-items: center;
            // border: 10px solid yellow;

            .section-5-div {
                text-align: center;
                // border: 1px solid black;
                border-radius: 40px;
                position: relative;
                width: 83%;
                margin: 0 auto;
                background-color: rgb(239, 244, 248);
                
                // height: 100%;
                // display: flex;
                justify-content: space-between;
                // width: 80%;

                .sect-5-div-1 {
                    // border: 1px solid black;
                    position: absolute;
                    top: 50%;
                    left: 2%;

                    .three-birds {
                        // margin-left: 40%;

                    }

                }

                .sect-5-div-2 {
                    .sect-5-h3 {
                        font-size: 400%;
                        color: $pColor2; 
    
                    }
    
                    .sect-5-p {
                        font-size: 150%;
                        color: $pColor2;
                    
                    }
    
                    .sect-5-enc {
                        border: none;
                        background-color: $btnBgColor2;
                        height: 40px;
                        width: 160px;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500px;
                        color: white;
                        cursor: pointer;
                        // display: block;
                        transition:all 0.3s ease-in-out;
        
                        &:hover {
                            color: $btnBgColor2;
                            background-color: transparent;
                            border: 1px solid;
                        }
    
    
                    }
                }

                .sect-5-div-3 {
                    position: absolute;
                    // border: 1px solid black;
                    top: 5%;
                    left: 85%;

                    .one-bird {
                        // margin: 20% 700%;
                        // margin: 30% 40%;
                    }
                }

            }  

        }

        .section-6 {

            .section-6-main {
                background-color: skyblue;
                border: 1px solid black;
    
                .section-6-div {
    
                    .sect-6-flex {
    
                        .mega-social {
    
                            .mega {
    
    
                                .mega-p {
    
                                }
                            }
    
                            .social {
    
                            }
    
                        }
    
                    }
    
                    hr {
    
                    }
    
                    .sect-6-p {
    
                    }
    
                }
    
            }

        }
        
        
  
    }
}



// @media screen and (max-width: 425px) {
//     .nav_items {
//         display: none;
//     }
    
//     header {
//         padding: 0 5%;
//     }

// }