$bgColor1: rgb(220, 214, 214);
$reg_btn: rgb(17, 17, 245);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: $bgColor1;
    align-items: center;
    padding: 0 80px;


    .nav_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav_items {
            text-decoration: none;
        }
        
        .search_box {
            display: flex;
            align-items: center;

            .search_btn {
                margin: 0 40px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

            .reg_btn {
                border: none;
                background-color: $reg_btn;
                height: 30px;
                width: 100px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}

.svg-logo {
    width: 200px;
    height: 100px;
}