$bgColor1: rgb(245, 245, 245);
$bgColor2: rgb(224, 214, 214);
$btnBgColor: rgb(41, 89, 232);
$btnBgColor2: rgb(19, 18, 18);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: $bgColor1;
    align-items: center;
    padding: 0 10%;
    border-bottom: 1px solid $bgColor2;
    // position: relative;


    .nav_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav_items {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            padding: 0 15px;
            transition:all 0.3s ease-in-out;

            &:hover {
                color: blue;
            }
        }
        
        .search_box {
            display: flex;
            align-items: center;

            .search_btn {
                margin: 0 40px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

            .reg_btn {
                border: none;
                background-color: $btnBgColor;
                height: 40px;
                width: 160px;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 500px;
                color: white;
                cursor: pointer;
                display: block;
                transition:all 0.3s ease-in-out;

                &:hover {
                    color: $btnBgColor;
                    background-color: transparent;
                    border: 1px solid;
                }
            }
        }

        .hamburger_line {
            height: 5px;
            width: 25px;
            background-color: black;
            margin: 2px 5px;
            display: none;
        }
    }
}

.svg-logo {
    width: 200px;
    height: 100px;
}



main {

    .main-div {

        .section-1 {
            display: flex;
            justify-content: space-around;
            border: 1px solid red;
            margin-top: 100px;

            .section-1-beaut-div {
                border: 1px solid blue;
                
                .prod-p {
                    font-size: 450%;

                    .free-span {
                        color: $btnBgColor;
                    }
                }

                .SVG-p {
                    font-size: 130%;
                }

                .section-1-btn {
                    display: flex;
                    justify-content: space-between;
                    
                    .free-btn {
                        border: none;
                        background-color: $btnBgColor;
                        height: 40px;
                        width: 150px;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500px;
                        color: white;
                        cursor: pointer;
                        display: block;
                        transition:all 0.3s ease-in-out;

                        &:hover {
                            color: $btnBgColor;
                            background-color: transparent;
                            border: 1px solid;
                        }

                    }

                    .premium-btn {
                        border: none;
                        background-color: transparent;
                        height: 40px;
                        width: 150px;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500px;
                        color: $btnBgColor;
                        cursor: pointer;
                        display: block;
                        transition:all 0.3s ease-in-out;
                        margin-right: 35%;
                        border: 1px solid;

                        &:hover {
                            color: white;
                            background-color: $btnBgColor;
                            
                        }

                    }
                }
            }

            .blog-svg-div {
                // border: 1px solid yellow;
                width: 29%;
                // height: -255%;

                .blog-svg {
                    // border: 1px solid black;
                    width: 200%;
                    height: 100%;
                    margin-left: -70%;
                }

            }
        }

        .section-2 {
            border: 1px solid green;
            background-color: purple;

            .section-2-div {
                border: 2px solid black;
                display: flex;
                justify-content: space-between;
                background-color: rgb(54, 116, 231);
                border-radius: 5px;
                max-width: 85%;
                width: 100%;
                margin: 0 auto;
                align-items: center;
                // width:90%;
                // margin: 0 8%;
                

                .del-editable-div{
                    border: 1px solid red;

                    .del-dollar-div {
                        display: flex;

                        .deliv-div {

                            .deliv-p {
                                font-size: 350%;
                                color: white;

                            }
                        }

                        .dollar-div {
                            
                            .stricken-dollar-span {
                                
                                .stricken-dollar-p {
                                    font-size: 350%;
                                    text-decoration: line-through;
                                    color: rgb(10, 10, 97);
                                }
                                
                            }

                            .unstricken-dollar-span {
                                
                                .unstricken-dollar-p {
                                    font-size: 350%;
                                    
                                }
                            }
                        }
                    }

                    .editable-browse-div {

                        .editable-p {
                            font-size: 150%;
                            color: white;
                        }

                        .browse-btn {
                            border: none;
                            background-color: white;
                            height: 40px;
                            width: 150px;
                            border-radius: 5px;
                            font-size: 1rem;
                            font-weight: 500px;
                            color: $btnBgColor;
                            cursor: pointer;
                            display: block;
                            transition:all 0.3s ease-in-out;
                            margin-right: 35%;
                            border: none;

                            &:hover {
                                color: white;
                                background-color: $btnBgColor2;
                                
                            }

                        }
                    }

                }

                .section-2-svg-div {
                    border: 1px solid yellow;
                    // padding-top: 40%;
                    max-width: 40%;
                    max-height: 100%;

                    .svg-eatery {
                        border: 1px solid pink;
                        width: 100%;
                        height: 100%;
                        // margin-left: 0%;
                        // height: 50%;
                        // width: 60%;
                    }

                }
            }
        }
    }
}


// @media screen and (max-width: 425px) {
//     .nav_items {
//         display: none;
//     }
    
//     header {
//         padding: 0 5%;
//     }

// }